* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 200px;
    width: 100%;
    background-color: #16423C;
    color: white;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
}

.SAKSHAM {

    font-family: "Love Light", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;
    text-align: center;
    text-shadow: 3px -1px black;
    transition: 0.4s ease;
}


.navigation {
    background-color: #C4DAD2;
    height: 40px;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-items: center;
}

.navigation a {
    text-align: center;
    text-decoration: none;
    color: black;
    margin: 30px;
}
.navigation a:hover{
    background-color: #16423C;
    border-radius: 10px;
    padding: 3px;
    color: #E9EFEC;
}


.btn {
    align-self: right;
    justify-self: right;
    margin-left: 30px;
    height: 20px;
    width: 50px;
    background-color: transparent;
    color:  #16423C;
    text-align: center;
    border-radius: 20px;
    transition: 0.4s ease;
}

.btn:hover {
    transform: scale(1.2);
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    background-color: #16423C;
    color: #E9EFEC;
}

.home {
    height: 67.5vh;
    background-color: #E9EFEC;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-left: 200px;
    margin-right: 200px;
    padding-top: 60px;
    align-self: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

.quote {
    position: absolute;
    z-index: 2;
    height: 250px;
    width: 250px;
    background-color: #276960;
    border-radius: 50px;
    border: 1px solid white;
    outline: 3px solid #676875;
    transition: 0.3s ease;
}

.quote h2 {
    font-size: 4rem;
    text-shadow: 4px 1px black;
    color: white;
    text-align: center;
}

.quote p {
    color: white;
    font-family: 'Caveat', 'Times New Roman', Times, serif;
    font-size: 1.3rem;
    text-align: justify;
    margin-left: 15px;
    margin-right: 15px;
    text-shadow: 2px 1px black;
    font-weight: 400;
}

.quote h5 {
    color: white;
    text-shadow: 2px 1px black;
    font-family: 'MonteCarlo', 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 1.5rem;
    text-align: right;
    margin-right: 20px;
}

.quote:hover {
    transform: scale(1.2);
    box-shadow: 1px 2px 1px 2px white;
}

.motto {
    color: #E9EFEC;
    font-weight: 550;
    tab-size: 50px;
    border-bottom: 1px solid rgb(255, 255, 255);
}

.sections {
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: rgba(105, 155, 136,0.5);
    top: 0;
    left: 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(255, 255, 255);
    opacity: 0.8;
}

.abilities {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    align-items: center;
    justify-content: center;
    align-content: center;
    align-self: center;
    justify-self: center;
    justify-items: center;
    margin-top: 100px;
}

.blocks {
    height: 400px;
    width: 250px;
    background-color: #E9EFEC;
    border-radius: 20px;
    border: 4px solid white;
    outline:2px solid #16423C;
    transition: 0.4s ease;
}
/* .blocks:hover{
    transform: scale(1.08);
} */
.blocks img{
    border-radius: 20px;
    border-bottom: 2px solid #276960;
    height:290px; 
    width:245px;
}
.sections h2 {
    color: #16423C;
    align-self: center;
    text-align: center;
    justify-self: center;
    font-size: 4rem;
    font-family: 'MonteCarlo', 'Times New Roman', Times, serif;
    font-weight: 500;
    text-shadow: 2px 1px white;
    border-bottom: 1px solid black;
}
.sections a{
    padding-top: 8px;
    text-decoration: none;
}

.blocks h3{
    color: #16423C;
    font-size: 1.5rem;
    justify-self: center;
    margin-top: 10px;
}
.start{
    background-color: #C4DAD2;
    height: 30px;
    width: 100px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    margin-top: 15px;
    font-size: 14px;
    transition: 0.3s ease;
}
.preview{
    background-color: #C4DAD2;
    height: 30px;
    width: 70px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    margin-left: 25px;
    margin-top: 15px;
    font-size: 14px;
    transition: 0.3s ease;
}
.start:hover{
transform: scale(1.1);
}
.preview:hover{
    transform: scale(1.1);
    }
